# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/auth/.mvn/wrapper/maven-wrapper.jar
/auth/.mvn/wrapper/maven-wrapper.properties
/auth/.mvn/wrapper/MavenWrapperDownloader.java
/commons/target/maven-archiver/pom.properties
/commons/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/commons/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/commons/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/config-client/.mvn/wrapper/maven-wrapper.jar
/config-client/.mvn/wrapper/maven-wrapper.properties
/config-client/.mvn/wrapper/MavenWrapperDownloader.java
/gateway/.gitignore
/gateway/.mvn/wrapper/maven-wrapper.jar
/gateway/.mvn/wrapper/maven-wrapper.properties
/gateway/.mvn/wrapper/MavenWrapperDownloader.java
/gateway/mvnw
/gateway/mvnw.cmd
/gateway/README.md
/gateway/.mvn/wrapper/maven-wrapper.jar
/gateway/.mvn/wrapper/maven-wrapper.jar
/config-client/.mvn/wrapper/maven-wrapper.jar
/config-client/.gitignore
/config-client/mvnw
/config-client/mvnw.cmd
/config-client/README.md
/payment/.mvn/wrapper/maven-wrapper.jar
/payment/.mvn/wrapper/maven-wrapper.properties
/payment/.mvn/wrapper/MavenWrapperDownloader.java
/payment/.gitignore
/payment/mvnw
/payment/mvnw.cmd
/payment/README.md
/payment/.mvn/wrapper/maven-wrapper.jar
/user/.gitignore
/user/mvnw
/user/mvnw.cmd
/user/README.md
/.idea/inspectionProfiles/Project_Default.xml
/.idea/$PROJECT_FILE$
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/qaplug_profiles.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/supply/.mvn/wrapper/maven-wrapper.jar
/supply/.mvn/wrapper/maven-wrapper.properties
/supply/.mvn/wrapper/MavenWrapperDownloader.java
/supply/.gitignore
/supply/mvnw
/supply/mvnw.cmd
/supply/README.md
/payment/.mvn/wrapper/maven-wrapper.jar
/auth/mvnw
/auth/mvnw.cmd
/auth/README.md
/auth/.gitignore
